@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

* {
	box-sizing: border-box;
}

:root {
	--primary-colour: purple;
}

html,
body {
	min-height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	color: rgb(0, 0, 0, 0.75);
}

h1,
h2 {
	font-family: "Montserrat", sans-serif;
	font-weight: 300;
	margin: 0;
	padding: 2rem 1rem;
}
h3 {
	margin: 1rem 0 0;
	padding: 1rem 0;
	color: var(--primary-colour);
}

a {
	text-decoration: none;
	color: #333;
}
a:hover,
a:focus {
	color: #333;
	text-decoration: underline;
}

.navbar {
	background-image: linear-gradient(to top, #dcc3f0 0%, #f6f3ff 100%);
	background-size: 100% !important;
	background-repeat: no-repeat;
}
.detailContainer {
	padding-top: 2rem;
}

label {
	display: block;
}

form {
	max-width: 400px;
	margin: 0 auto;
}

form > div {
	margin-bottom: 1rem;
}

form input {
	width: 100%;
	padding: 0.4rem;
}

#loginBtn {
	width: 100%;
	height: 40px;
	background: var(--primary-colour);
	color: white;
	border: none;
	cursor: pointer;
}
#logout{
    display:none;
    color: white;
    font-weight: 500;
    border-radius: .5rem;
    background: var(--primary-colour);
}

a.nav-link,
.nav-link {
	padding: 1rem !important;
	margin-right: 1rem;
}

a.nav-link.active,
a.backLink:hover,
a.backLink:active {
	color: var(--primary-colour) !important;
    font-weight:500;
    text-decoration: underline;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.product-container {
	display: flex;
	flex-wrap: wrap;
}

.product,
.detailsProduct {
	margin: 1rem;
	margin-left: 0;
	padding: 1rem;
	border-radius: 1rem;
	border: 2px solid rgba(0, 0, 0, 0.05);
	background: rgb(205, 156, 242, 0.2);
	width: 250px;
}
.detailsProduct {
	margin: 1rem;
	margin-left: 0;
	padding: 1rem;
	border-radius: 1rem;
	border: 2px solid rgba(0, 0, 0, 0.05);
	background: rgb(205, 156, 242, 0.2);
	width: 500px;
}

.message {
	width: 100%;
	padding: 1rem;
	border: 1px solid grey;
	color: grey;
}

.message.error {
	border-color: red;
	color: white;
	background: red;
}

.message.warning {
	border-color: orange;
	color: white;
	background: orange;
}

.message.success {
	border-color: green;
	color: white;
	background: green;
}

/* Loader Styles */
.lds-roller {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 2rem auto;
}
.lds-roller div {
	animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	transform-origin: 40px 40px;
}
.lds-roller div:after {
	content: " ";
	display: block;
	position: absolute;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: purple;
	margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
	animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
	top: 63px;
	left: 63px;
}
.lds-roller div:nth-child(2) {
	animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
	top: 68px;
	left: 56px;
}
.lds-roller div:nth-child(3) {
	animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
	top: 71px;
	left: 48px;
}
.lds-roller div:nth-child(4) {
	animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
	top: 72px;
	left: 40px;
}
.lds-roller div:nth-child(5) {
	animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
	top: 71px;
	left: 32px;
}
.lds-roller div:nth-child(6) {
	animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
	top: 68px;
	left: 24px;
}
.lds-roller div:nth-child(7) {
	animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
	top: 63px;
	left: 17px;
}
.lds-roller div:nth-child(8) {
	animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
	top: 56px;
	left: 12px;
}
@keyframes lds-roller {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/* End Loader Styles */
